@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "onest";
  src: url("/fonts/onest.ttf") format("truetype");
}

.font-onest {
  font-family: "onest";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #43aa13;
  --hover-color: #43cb13;
  --primary-text-color: #202020;
  --secondary-text-color: #777;
  --white-text-color: #fcfaf2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

.btn {
  @apply p-2 transition-colors duration-300;
}
